.example {
  padding: 20px;
  color: white;
}

/* Sample backgrounds for each query for testing purposes */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .accordion {
    display: block;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .example {
    background: green;
  }
}

/* Medium devices (landscape tablets, 767px and up) */
@media only screen and (min-width: 767px) {
  .accordion {
    display: none;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .example {
    background: orange;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .example {
    background: pink;
  }
}

/* Accordion Styling */
.accordion {
  background-color: #fff;
  color: #000;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  text-align: left;
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
  font-family: "Open Sans";
  font-weight: bold;
}

.accordion:after {
  content: "\002b";
  float: right;
  font-size: 16px;
  color: #000;
}
.active:after {
  content: "\2212";
}

.description {
  background-color: #fff;
  padding: 0 15px;
  display: none;
  overflow: hidden;
}

/* Tab Styling */

.tab {
  text-align: center;
  overflow: hidden;
  letter-spacing: -4px;
}

.tab button {
  background-color: inherit;
  border: 1px solid #000;
  outline: none;
  cursor: pointer;
  padding: 5px 20px;
}

.tab button:hover {
  background-color: #000;
  color: #fff;
}

.tab button.active {
  background-color: #000;
  color: #fff;
}

.tab-content {
  /* display: none; */
  border: none;
  text-align: center;
}
